[submodule "zshproject"]
	path = zshproject
	url = git@github.com:empijei/zshproject.git
[submodule "awesome/--force"]
	path = awesome/--force
	url = https://github.com/Mic92/vicious.git
	branch = master
